.app-background {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.app-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
    padding: 40px 0 0 0;
    margin: auto;
}

.app-title {
    text-align: center;
    font-size: 35px;
    color: rgb(191 155 0);
    text-shadow: 6px 6px 10px rgb(146, 146, 146);

    * {
        margin: 0;
    }

    p {
        margin-top: 10px;
        font-size: 25px;
    }
}

.main-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
}

.top-5-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    width: 400px;
    z-index: 2;
}

.top-5-container-mobile {
    display: none;
}

.top-5-most-common-ingredients,
.top-5-most-prolific-authors,
.top-5-most-complex-recipes {
    display: flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    left: 0;
    width: 80%;
    height: 225px;
    padding: 10px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.75);
    background-color: white;
    transition: transform 0.5s ease-in-out, width 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    box-shadow: rgba(150, 99, 80, 0.25) 0px 50px 100px -20px,
        rgba(87, 87, 87, 0.3) 0px 30px 60px -30px;

    h1 {
        margin: 0;
    }
}

.top-5-most-common-ingredients,
.top-5-most-common-ingredients-mobile {
    border: 4px solid rgb(228, 69, 69);
    color: rgb(228, 69, 69);
    background-color: rgb(73, 9, 9);
}

.top-5-most-prolific-authors,
.top-5-most-prolific-authors-mobile {
    border: 4px solid rgb(179, 161, 61);
    color: rgb(179, 161, 61);
    background-color: rgb(54, 47, 6);
}

.top-5-most-complex-recipes,
.top-5-most-complex-recipes-mobile {
    border: 4px solid rgb(23, 145, 94);
    color: rgb(23, 145, 94);
    background-color: rgb(5, 43, 27);
}

.top-5-most-common-ingredients:hover,
.top-5-most-prolific-authors:hover,
.top-5-most-complex-recipes:hover {
    left: 0;
    width: 75vw;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: rgba(150, 99, 80, 0.25) 0px 50px 100px -20px,
        rgba(87, 87, 87, 0.3) 0px 30px 60px -30px;
}

.top-5-title {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.top-5-title-mobile {
    text-align: center;
    margin: 0px;
}

.top-5-title-number {
    margin: 0px;
    font-size: 150px;
}

.top-5-title-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    font-size: 27px;
    font-weight: bold;

    p {
        margin: 5px;
        text-align: end;
    }
}

.top-5-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.top-5-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 100%;
    padding: 20px 0px 20px 0px;

    div {
        text-align: center;
    }

    div > p {
        margin: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.top-5-most-common-ingredients {
    top: 0;
}

.top-5-most-prolific-authors {
    top: 300px;
}

.top-5-most-complex-recipes {
    top: 600px;
}

.table-group {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.table-func-group {
    display: flex;
    justify-content: end;
    gap: 40px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px 20px 0 0;
    background-color: #3b3b3b;
}

.search-group, .filter-group {
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    input {
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: white;
    }

    input:focus {
        outline-style: none;
        box-shadow: none;
        border: none;
    }

    button {
        border: none;
        background: none;
    }

    p {
        margin: 0;
    }
}

.filter-dropdown {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 300px;
    max-height: 500px;
    padding: 10px 0px 10px 0px;
    border: 2px solid rgb(214, 214, 214);
    background-color: white;
    overflow-y: auto;

    p { 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 7px 15px 7px 15px;
        font-size: 16px;
    }

    p:hover {
        cursor: pointer;
        background-color: rgb(241, 241, 241);
    }

    h4 {
        margin-top: 0px;
        margin-right: 10px;
        text-align: end;
    }
}

.filter-dropdown-active-item {
    color: dodgerblue;
}

.filter-dropdown-active-item:hover {
    color: red;
}

.recipe-table {
    width: 100%;
    height: 891px;
    padding: 20px 40px 20px 40px;
    background-color: white;
    font-size: 20px;
    table-layout: fixed;
    box-shadow: rgba(150, 99, 80, 0.25) 0px 50px 100px -20px, rgba(87, 87, 87, 0.3) 0px 30px 60px -30px;

    th {
        text-align: start;
        border-bottom: 1px solid rgb(223, 223, 223);
        font-size: 22px;
        padding: 0 20px 20px 20px;
    }

    th > div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    th > div > p {
        margin: 0;
    }

    tr {
        height: 42px;
    }

    td {
        white-space: nowrap;
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 20px 0 20px;
    }

    tr:hover {
        cursor: pointer;
        background-color: rgb(241, 241, 241);
    }
}

.recipe-table-no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 891px;
    padding-bottom: 120px;
    text-align: center;
    font-size: 30px;
    color: rgb(214, 214, 214);
}

.recipe-table-author:hover {
    cursor: pointer;
    color: dodgerblue;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    box-shadow: rgba(150, 99, 80, 0.25) 0px 50px 100px -20px, rgba(87, 87, 87, 0.3) 0px 30px 60px -30px;

    button {
        font-size: 20px;
    }
}

.skill-Easy {
    color: rgb(0, 155, 0);
}

.skill-Moreeffort {
    color: rgb(255, 145, 0);
}

.skill-Achallenge {
    color: red;
}

.modal-background {
    display: flex; 
    justify-content: center;  
    align-items: center;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    overflow: auto; 
}

.modal {
    position: relative;  
    width: 100%;  
    max-width: 1500px;
    height: 80%;  
    padding: 75px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.596) 0px 5px 25px;
    z-index: 1000;
    animation: animate-zoom 0.6s forwards;

    h1 {
        margin: 0;
    }
    
    h2 {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(206, 206, 206);
    }

    p {
        margin: 0;
        margin-bottom: 5px;
    }
}

.modal-close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: red;
    background-color: transparent;
}

.modal-close-btn:hover {
    color: rgb(173, 0, 0);
}

.modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal-title {
    margin: 20px 75px 50px 75px !important;
    text-align: center;
    font-size: 40px;
}

.modal-author {
    margin-bottom: 40px !important;
    font-size: 18px;
    text-align: center;
}

.modal-ingredient-item {
    margin-bottom: 6px;
}

.modal-content-group {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.modal-group-1 {
    width: 50%;
}

.modal-group-2 {
    width: 50%;
}

.author-modal-title {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.author-table {
    width: 100%;
    height: 834px;
    padding: 40px 40px 20px 40px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    table-layout: fixed;

    th {
        text-align: start;
        border-bottom: 1px solid rgb(223, 223, 223);
        font-size: 22px;
        padding: 0 20px 20px 20px;
    }

    tr {
        height: 22px;
    }

    td {
        white-space: nowrap;
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 20px 0 20px;
    }

    tr:hover {
        cursor: pointer;
        background-color: rgb(241, 241, 241);
    }
}

.author-pagination-group {
    display: flex;
    justify-content: center;
    height: 30px;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
}

.collection-item-collection, .collection-item-keyword, .collection-item-diet-type {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.collection-item-collection {
    background-color: rgb(255, 103, 103);
}

.collection-item-keyword {
    background-color: rgb(40, 197, 119);
}

.collection-item-diet-type {
    background-color: rgb(105, 96, 226);
}

.similar-recipes-container {
    display: flex;
    gap: 50px;
    height: 130px;
    margin-top: 50px;
}

.similar-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    width: 20%;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 15px;
    cursor: pointer;

    h3 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}

.similar-recipe:hover {
    color: white;
    background-color: rgb(51, 51, 51);
}

@keyframes animate-zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 767px) {
    .recipe-table {
        * { 
            font-size: 15px;
        }
    }

    #recipe-table-author-column-header {
        font-size: 15px;
    }

    .pagination {
        button {
            font-size: 15px;
            padding: 0px;
            margin: 0px;
        }
    }

    .top-5-most-common-ingredients-mobile,
    .top-5-most-prolific-authors-mobile,
    .top-5-most-complex-recipes-mobile {
        margin: 0px;
        margin-bottom: 20px;
        border-radius: 0px;
        padding: 25px !important;
        font-size: 10px;

        h3 {
            font-size: 14px;
        }
    }

    .modal-content-group {
        flex-direction: column;
        gap: 0px;
    }

    .modal-group-1, .modal-group-2 {
        width: 100%;
    }

    .table-func-group {
        flex-direction: column;
        font-size: 13px;
        gap: 20px
    }

    .search-group, .filter-group {
        justify-content: center;
    }

    .similar-recipe {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1023px) {
    .modal {
        height: 100%;
        padding: 30px;
    }

    .similar-recipes-container {
        flex-direction: column;
        align-items: center;
    }

    .similar-recipe {
        width: 80%;
    }
}

@media only screen and (max-width: 1439px) {
    .main-group {
        flex-direction: column;
    }

    .table-group {
        width: 100%;
    }

    .top-5-container {
        display: none;
    }

    .top-5-container-mobile {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .top-5-most-common-ingredients-mobile,
    .top-5-most-prolific-authors-mobile,
    .top-5-most-complex-recipes-mobile {
        margin: 0px;
        margin-bottom: 20px;
        border-radius: 20px;
        padding: 40px;
    }

    .top-5-content-mobile {
        margin-top: 50px;
        
        h3 {
            margin-top: 40px;
        }
    }

    .app-container {
        width: 100%;
    }

    .recipe-table { 
        padding: 5px;

        td {
            white-space: wrap;
            overflow: visible;
            padding: 0;
        }
    }

    .author-table {
        height: 90vh;
    }


}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .app-container {
        width: 90%;
    }

    .top-5-container {
        align-items: center;
    }

    .top-5-title-text {
        font-size: 25px;
    }

    .top-5-most-common-ingredients,
    .top-5-most-prolific-authors,
    .top-5-most-complex-recipes {
        width: 80%;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1899px) {
    .app-container {
        width: 90%;
    }

    .top-5-content {
        gap: 20px
    }

    .top-5-content-item {
        font-size: 14px;
    }
}
