.app-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
    padding: 50px 0 0 0;
    margin: auto;
}

.app-title {
    text-align: center;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 5px rgb(146, 146, 146);

    * {
        margin: 0;
    }

    p {
        margin-top: 10px;
        font-size: 25px;
    }
}

.main-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.top-picks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    width: 25%;
}

.top-pick {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 320px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(150, 99, 80, 0.25) 0px 50px 100px -20px,
        rgba(87, 87, 87, 0.3) 0px 30px 60px -30px;

    h1 {
        margin: 0;
    }
}

.table-group {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.recipe-table {
    width: 100%;
    height: 891px;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    table-layout: fixed;

    th {
        text-align: start;
        border-bottom: 1px solid rgb(223, 223, 223);
        font-size: 22px;
        padding: 0 20px 20px 20px;
    }

    tr {
        height: 42px;
    }

    td {
        white-space: nowrap;
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 20px 0 20px;
    }

    tr:hover {
        cursor: pointer;
        background-color: rgb(241, 241, 241);
    }
}

.recipe-table-no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 891px;
    padding-bottom: 120px;
    text-align: center;
    font-size: 30px;
    color: rgb(214, 214, 214);
}

.recipe-table-author {
    /* color: gray; */
}

.recipe-table-author:hover {
    cursor: pointer;
    color: dodgerblue;
}

.pagination-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 550px;
    height: 100%;
    border-radius: 0 0 20px 20px;
    background-color: white;

    button {
        font-size: 20px;
    }
}

.pagination-inverted-border-radius {
    width: 100px;
    height: 100%;
    background-color: white;
}

.pagination-inverted-border-radius-mask-1,
.pagination-inverted-border-radius-mask-2 {
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: rgb(255, 230, 220);
}

.pagination-inverted-border-radius-mask-1 {
    border-radius: 0 20px 0 0;
}

.pagination-inverted-border-radius-mask-2 {
    border-radius: 20px 0 0 0;
}

.skill-Easy {
    color: rgb(0, 155, 0);
}

.skill-Moreeffort {
    color: rgb(255, 145, 0);
}

.skill-Achallenge {
    color: red;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 1500px;
    width: 80%;
    height: 80%;
    padding: 75px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.596) 0px 5px 25px;
    z-index: 1000;

    h1 {
        margin: 0;
    }
    
    h2 {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(206, 206, 206);
    }

    p {
        margin: 0;
        margin-bottom: 5px;
    }
}

.modal-close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: red;
    background-color: transparent;
}

.modal-close-btn:hover {
    color: rgb(173, 0, 0);
}

.modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal-title {
    margin: 20px 75px 50px 75px !important;
    text-align: center;
    font-size: 40px;
}

.modal-author {
    margin-bottom: 40px !important;
    font-size: 18px;
    text-align: center;
}

.modal-ingredient-item {
    margin-bottom: 6px;
}

.modal-content-group {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.modal-group-1 {
    width: 50%;
}

.modal-group-2 {
    width: 50%;
}

.author-modal-title {
    padding-left: 100px;
    padding-right: 100px;
    /* margin-bottom: 10px !important; */
    text-align: center;
}

.author-table {
    width: 100%;
    height: 834px;
    padding: 40px 40px 20px 40px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    table-layout: fixed;

    th {
        text-align: start;
        border-bottom: 1px solid rgb(223, 223, 223);
        font-size: 22px;
        padding: 0 20px 20px 20px;
    }

    tr {
        height: 22px;
    }

    td {
        white-space: nowrap;
        width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 20px 0 20px;
    }

    tr:hover {
        cursor: pointer;
        background-color: rgb(241, 241, 241);
    }
}

.author-pagination-group {
    display: flex;
    justify-content: center;
    height: 30px;
}

.collection-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
}

.collection-item-collection, .collection-item-keyword, .collection-item-diet-type {
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.collection-item-collection {
    background-color: rgb(255, 103, 103);
}

.collection-item-keyword {
    background-color: rgb(40, 197, 119);
}

.collection-item-diet-type {
    background-color: rgb(105, 96, 226);
}